@model FirstMVC.Models.DogViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Officially saying hello</h1>
<p>You are brave and strong. Keep growing.</p>
<h4>Have you seen my dog, @Model.Name? That boy only @Model.Age </h4>
